body {
    color: black;
}

.md-typeset {
    font-size: .7rem;
    line-height: 1.2;
    -webkit-print-color-adjust: exact;
    color-adjust: exact;
}

.md-nav {
    font-size: .75rem;
}

.md-typeset pre > code {
    font-size: 0.75rem;
}

.md-grid {
    max-width: 1800px;
}